@import url("nav1.css");

body {
    margin: 0;
    font-family: Arial
}

hr {
  border: none;               /* Clear default browser styles */
  height: 1px;                /* Define thickness */
  background-color: #785b08;     /* Define line color */
}

.aFiles {
    ul { font-size: 18px; line-height: 25px }
    h2 { color: #403000; font-size: 20px }
}

.aCommit {
    margin-top: 20px;
}

#commit-list {
    font-size: 15px;
    padding-top: 15px;
    line-height: 20px;
}