@import url("nav1.css");

@font-face {
    font-family: 'PrunedMicro';
    src: url('fonts/Michroma-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PrunedSyne';
    src: url('fonts/SyneMono-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: PrunedMicro, PrunedSyne, Verdana, sans-serif;
}

hr {
    border: none;
    height: 1px;
    background-color: #d19f0e;
    margin: 5px;
}


.aCommit {
    margin-top: 20px;
}

#commit-list {
    font-size: 15px;
    padding-top: 15px;
    line-height: 20px;
}
