.sliding-navbar {
    position: absolute;
    top: 0;
    left: -400px;
    height: 100vh;
    width: 400px;
    background: #393427;
    transition: left 0.8s ease-in-out;
    z-index: 300;
}

.sliding-navbar--open {
    left: 0px;
}

.mask {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background: #333;
    opacity: 0.78;
    z-index: -100;
}

.show {
    z-index: 200;
}

.brand {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 140px;
    margin: 20px auto 0 auto;
    font-family: sans-serif;
    transition: color 0.2s ease-in-out;
}

.brand:hover {
    color: #ccc;
}

.navbar--items {
    list-style-type: none;
    position: absolute;
    left: 30%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.navbar--item {
    color: white;
}

.navbar--item:hover {
    color: #bf9f40;
    font-size: 17px;
    cursor: pointer;
}

.hamburger-menu {
    z-index: 999;
    position: absolute;
    top: 30px;
    right: 30px;
    margin: auto;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.hamburger {
    position: relative;
    transform: translateY(10px);
    background: white;
    transition: all 0ms 300ms;
}

.hamburger,
.hamburger:after,
.hamburger:before {
    width: 40px;
    height: 3px;
}

.hamburger:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: white;
    transition: bottom 0.3s ease-in-out;
}

.hamburger:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: white;
    transition: top 0.3s ease-in-out;
}

.menu-opened:before {
    bottom: 3px;
    transition: bottom 0.3s ease-in-out;
}

.menu-opened:after {
    top: 3px;
    transition: top 0.3s ease-in-out;
}


.main-content {
    height: 100vh;
    min-width: 100%;

    background-image:
        linear-gradient(to right, rgba(205.2, 190.13, 145.43, 0.5), rgba(115.55, 89.433, 11.953, 0.5)),
        url('./../favicon/android-chrome-512x512.png');
    background-blend-mode: lighten;
    background-position: 10% 10%;
    background-repeat: no-repeat;
}

.desc {
    color: #4c4634;
    padding: 10%;
    text-align: center;
}

/* TEMPLATE(s) Styling
************************************************************/

.profile {
    text-align: center;
    padding-top: 25%;
}

.resumes {
    ul {
        list-style-type: none;
        text-align: left;

        li a {
            color: lightyellow;
            /* Removes default blue color and matches surrounding text */
            text-decoration: none;
            /* Removes the underline */
            font-size: 13px;
        }

        a:hover {
            color: #bac758;
            font-size: 14px
        }
    }
}

.icon-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    /* Spacing between icon and text */
}

/* Adds an icon before the link text */
.icon-link::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);

}

.commit::before {
    background-image: url('./imgs/git-commit-256.png');
}
.json::before {
    background-image: url('./imgs/git-merge-256.png');
}
.resume::before {
    background-image: url('./imgs/git-branch-256.png');
}
